/* You can add global styles to this file, and also import other style files */
body {
    padding-left: 0;
    padding-right: 0;
}

.mt-4 {
    margin-top: 1rem;
  }

  .mt-5 {
    margin-top: 2rem;
  }

  